.minesweeper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.board-tile {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

.tile-hidden {
    background-color: gray;
}

.tile-hidden:hover {
    background-color: lightgray;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

.tile-visible { 
    background-color: white;
}

.tile-bomb {
    background-color: red;
}