.minesweeper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.board-tile {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 1em;
}

.tile-hidden {
    background-color: gray;
}

.tile-hidden:hover {
    background-color: lightgray;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
}

.tile-visible { 
    background-color: white;
}

.tile-bomb {
    background-color: red;
}
