.minesweeper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.game-board {
    user-select: none;
}

.board-tile {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 1em;
}

.tile-hidden {
    background-color: gray;
}

.tile-hidden:hover {
    background-color: lightgray;
}

.tile-visible { 
    background-color: white;
}

.tile-bomb {
    background-color: red;
}

.tile-flag {
    color: greenyellow;
}

.reset-clock {
    font-size: 2rem;
    height: 50px;
}

.clock-numbers {
    font-family: monospace;
}

.game-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.win {
    align-items: flex-start;
}

.lose {
    align-items: center;
}

.reset-button {

}
