#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header {
  height: 50px;
  background-color: blue;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

footer {
  height: 50px;
  background-color: yellow;
}