#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  color: black;
  font-size: 1.75rem;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: black;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3px;
}

footer a:hover {
  color: #2e2e2e
}

footer a:hover img {
  filter: brightness(150%);
}
